.Date{
    position: absolute;
    right: 30px;
    top: 10px;
}
.content{
    border-radius: 25px;
    padding: 10px
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  .Date {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .SearchBox {
    margin-bottom: 20px;
  }
  
  .InfoBox {
    width: 100%;
  }
  